<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="border-top">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="#" class="fa fa-twitter"></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="fa fa-facebook"></a>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-github"></i>
                  </li>
              </ul>
              <div class="small text-center text-muted fst-italic">Copyright &copy; Bradley Hoffman 2022</div>
          </div>
      </div>
  </div>
</footer>

