<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <div class="message-wrap">
            <div class="message-content">
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="text-center py-5">
                    <h1>Message Us</h1>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-5 container">
                <div class="row justify-content-center">
                    <div class="col-md-6 p-5 " style="background: #f2f2f2;">
                        <h5 class="pb-4">Message your doctor</h5>
                        <% if (suc_message) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <%= suc_message %><button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <% } %>
                                <form action="/messages" method="POST">
                                    <div class="appointment">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="pb-2">First Name:</label>
                                                <input required type="text" class="form-control mb-3" placeholder="John"
                                                    id="fname" name="fname">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="pb-2">Last Name:</label>
                                                <input required type="text" class="form-control mb-3" placeholder="Doe"
                                                    id="lname" name="lname">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="pb-2">Phone Number:</label>
                                                <input required type="phone" class="form-control mb-3"
                                                    placeholder="XXX-XXX-XXXX" id="phone" name="phone">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="pb-2">Email:</label>
                                                <input required type="email" class="form-control mb-3"
                                                    placeholder="email@example.com" id="email" name="email">
                                            </div>
                                        </div>

                                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                        <textarea name="message" required placeholder="Type message..."
                                            class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <div class="d-grid gap-2 pt-4">
                                        <button class="btn btn-primary" type="submit">Send Now</button>
                                    </div>
                                </form>
                    </div>
                </div>
            </main>
            </div>
        </div>
            <%- include('layouts/footer'); -%>

    </body>

</html>